.MuiSlider-markLabel {
    font-size: 12px;
    color: grey;
    /* Default grey color for unavailable years */
}

.MuiSlider-markLabel-active {
    font-size: 12px;
    font-weight: bold;
    color: #acd8d8 !important;
    /* Gold color when selected */
}

.MuiSlider-thumb {
    background-color: #acd8d8;
    border: 2px solid #616161;
    box-shadow: none;
    /* Remove shadow on thumb */
}

.MuiSlider-thumb:focus,
.MuiSlider-thumb:active,
.MuiSlider-thumb:hover {
    box-shadow: none;
    /* Remove blue shadow on thumb */
}

.MuiSlider-track {
    display: none;
    /* Hide the track */
}

.MuiSlider-rail {
    background-color: #4a4a4a;
    /* Keep the rail visible */
}

.MuiSlider-mark {
    background-color: #4a4a4a;
    /* Default mark color */
}

.MuiSlider-root {
    color: #acd8d8;
    /* Thumb color */
}