.bottom-bar {
    position: absolute;
    bottom: 30px;
    left: 100px;
    right: 50px;
    background-color: #333;
    color: #ffffff;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    border-top: 1px solid #cccccc35;
    display: flex;
    justify-content: center;
    z-index: 1000;
    box-sizing: border-box;
    overflow: hidden;
    opacity: 0. 8;
    border-radius: 10px;
}

/* BottomBar.css */

.MuiSlider-markLabel {
    font-size: 16px;
    color: #d1a766;
}

.MuiSlider-markLabel.active {
    font-size: 20px;
    font-weight: bold;
}